@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Quicksand:wght@600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Poppins', 'Quicksand', sans-serif;
  color: #fff;
  @apply bg-[#0f172a];

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  place-items: center;
  justify-content: center;
  min-height: 100vh;
}